:root {
    --black: #000;
    --white: #fff;

    --gray: rgb(50, 60, 70);
    --green: rgb(50, 100, 10);
    --purpule: rgb(200, 60, 220);
    --red: rgb(165, 42, 42);
    --blue: rgb(20, 50, 200);
    --yellow: rgb(190, 140, 0);

    --box-shadow: 0rem 0rem 1rem var(--black);
}