/* Main list  */
.main_list {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

    padding: 1rem;
    color: var(--white);
    /* background-color: var(--red); */
}

.main_list .left_sec {
    width: 15%;

    padding: 0.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--black);
}

.main_list .midle_sec {
    width: 70%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-right: 4rem;
    margin-left: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--black);
}


.main_list .right_sec {
    width: 15%;

    padding: 0.5rem;
    box-shadow: var(--box-shadow);
    background-color: var(--black);
}
/* Main list  */

/* ===================== */

/* Product boxes */
.product_boxes {
    width: 12rem;
    height: auto;

    margin: 0.3rem;
}

.product_boxes .pr_items {
    width: 100%;
    height: auto;
    text-align: center;

    padding: 0.7rem;
    color: var(--yellow);
    background-color: var(--darck-blue2);
    box-shadow: var(--box-shadow) inset;
    border-radius: 0.3rem;
}

.product_boxes .pr_items .pr_img {
    width: 9rem;
    height: 18rem;
}

.product_boxes .pr_items .pr_title {
    margin-top: 0.7rem;
}

.product_boxes .pr_items .pr_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1rem;
}

.product_boxes .pr_items .pr_info .pr_text {
    width: 100%;
    /* display: none; */
}

.product_boxes .pr_items .pr_info .pr_text .pr_paragraph {
    height: 100%;
    margin-top: 0.7rem;
}

.product_boxes .pr_items .pr_info .pr_text .pr_cost {
    margin-top: 1rem;
}

.product_boxes .pr_items .pr_info .pr_text .pr_buttun {
    width: 100%;
    margin-top: 1rem;
}
/* Product boxes */